@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3" style="margin-top:5%;">
    <img class="card-img-top" src="~/images/high-speed-train.jpg" alt="Card image cap" width="80%" height="280">
  <div class="card-body text-center">
    <h5 class="card-title">Вітаємо!</h5>
    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="Search" asp-action="">Розпочати пошук?</a>
  </div>
</div>

