@model WebApplication2.Models.TicketModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TicketModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ticketPID" class="control-label"></label>
                <input asp-for="ticketPID" class="form-control" />
                <span asp-validation-for="ticketPID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureP" class="control-label"></label>
                <input asp-for="departureP" class="form-control" />
                <span asp-validation-for="departureP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrivalP" class="control-label"></label>
                <input asp-for="arrivalP" class="form-control" />
                <span asp-validation-for="arrivalP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureD" class="control-label"></label>
                <input asp-for="departureD" class="form-control" />
                <span asp-validation-for="departureD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrivalD" class="control-label"></label>
                <input asp-for="arrivalD" class="form-control" />
                <span asp-validation-for="arrivalD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passengerFullName" class="control-label"></label>
                <input asp-for="passengerFullName" class="form-control" />
                <span asp-validation-for="passengerFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carriageNumber" class="control-label"></label>
                <input asp-for="carriageNumber" class="form-control" />
                <span asp-validation-for="carriageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seat" class="control-label"></label>
                <input asp-for="seat" class="form-control" />
                <span asp-validation-for="seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vacantDepatureID" class="control-label"></label>
                <input asp-for="vacantDepatureID" class="form-control" />
                <span asp-validation-for="vacantDepatureID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
